/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;      
    font-family: 'roboto_condensedregular', Helvetica, Arial, sans-serif;
    font-size:18px;
    color: #4b4b4b;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background: url(../img/bg.gif) no-repeat 50% 70% #fff;
    background-size: 160%;
    text-align: center;
}
.bold {
    font-family: 'roboto_condensedbold';
}
.light {
    font-family: 'roboto_condensedlight';
}

/* Portrait layout (default) */
.app {

}


/* Commun */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: none;
}
.btn-tg, .ui-page-theme-a .ui-btn, .ui-btn, button.ui-btn {
    background: #d16b60;
    color: #fff;
    width: 80%;
    display: inline-block;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'roboto_condensedregular';
    min-height: 40px;
}
.page-title {
    font-family: 'roboto_condensedbold';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    color: #d16b60;
    border-bottom: 1px solid #d16b60;
    width: 80%;
    display: inline-block;
    background: url(../img/logo-min.png) no-repeat 0 50%;
    background-size: 8%;
}
input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #818181;
    color: #818181;
    width: 80%;
    display: inline-block;
    font-size: 18px; 
    margin: 10px 0;
    font-family: 'roboto_condensedregular';
}
::-webkit-input-placeholder { font-family: 'roboto_condensedlight'; }
::-moz-placeholder { font-family: 'roboto_condensedlight'; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'roboto_condensedlight'; } /* ie */
input:-moz-placeholder { font-family: 'roboto_condensedlight'; }



/* Connexion */ 
#connexion .logo-max {
    position: relative;
    text-align: center;
    padding: 190px 0 40px;
}
.logo-max img {
    display: inline-block;
    width: 70%;
}
#connexion button img{
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 -20px;
}
/* Join */
#join .logo-max {
    position: relative;
    text-align: center;
    padding: 140px 0 40px;
}
#join button img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 -20px;
}

/* Room */
#room .players {
    padding: 0;
    margin: 0 0 70px 0;
}
#room .players li {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    list-style: none;
    text-align: left;
    font-size: 20px;
}
#room .players li:last-child {
    border-bottom: none;
}
#room .players p {
    display: inline-block;
}
#room .admin .profil-picture div{
    border: 3px solid #d16b60;
}
#room .profil-picture {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#room .profil-picture > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    display: inline-block;
}
#room .profil-picture div {
    border: 3px solid #818181;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#room .profil-picture div img {
    width: 100%;
    display: inline-block;
}
@-webkit-keyframes loading {
    0   {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}  
}
@keyframes loading {
    from   {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}  
}
.loading {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 90px;
    text-align: center;
    color: #d16b60; 
    z-index: 10;
}
.loader {
    display: inline-block;
    width: 100px;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}
.loading-message {
    width: 80%;
    margin: 0 auto;
}
#room button {
    opacity: 1;
}
#room button img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 -20px;
}


/* Game */
.timer {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 10px auto 20px auto;
    line-height: 120px;
    background: #fff;
    border: 3px solid #d16b60;
    color: #d16b60;
    font-size: 35px;
    text-align: center;
    font-family: 'roboto_condensedbold';
}
#audioplayer{
    width: 80%;
    height: 40px;
    margin: 0 auto;
}
#timeline{
    margin: 0 auto;
    width: 80%;
    height: 5px;
    border-radius: 15px;
    background: #818181;
  
}
#curseur{
    width: 18px;
    height: 18px;
    top: -6px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #d16b60;
    background: #fff;

}
#temps2 {
    display: none;
}
#temps2 #artist {
    color: #d16b60;
    font-family: 'roboto_condensedbold';
    margin: 0;
}
#temps2 #track {
    margin: 0;
}
#game #cover {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 10px auto;
    background: #fff;
    border: 3px solid #d16b60;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#game #cover img {
    display: inline-block;
    position: absolute;
    width: 110%;
    margin: 0 0 0 -55%;
    left: 50%;
}
#top-game {
    height: 200px;
}
#game .players {
    padding: 0;
    margin: 0 0 70px 0;
}
#game .players li {
    display: block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    font-size: 20px;
    position: relative;
}
#game .players li > div{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
}
#game .players li.selected {
    color: #fff;
    background: #818181;
}
#game .players li.selected > div{
    border-bottom: 1px solid #818181;
}
#game .players li.selected .profil-picture div{
    border: 3px solid #fff;
}
#game .players li:last-child > div{
    border-bottom: none;
}
#game .players li.selected.wrong span {
    position: absolute;
    z-index: 10;
    width: 70%;
    background: #fff;
    border-radius: 4px;
    height: 4px;
    top: 50%;
    left: 5%;
    margin: -2px 0 0 0;
}
#game .players p.resultat {
    display: none;
}
#game .players li.selected p.resultat {
    font-family: 'roboto_condensedbold';
    color: #fff;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 50%;
    margin: -15px 0 0 0;

}
#game .players p {
    display: inline-block;
}
#game .admin .profil-picture div{
    border: 3px solid #d16b60;
}
#game .profil-picture {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#game .profil-picture > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    display: inline-block;
}
#game .profil-picture div {
    border: 3px solid #818181;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#game .profil-picture div img {
    width: 100%;
    display: inline-block;
}

/* Fin */

#fin .players {
    padding: 0;
    margin: 0 0 70px 0;
}
#fin .players li {
    display: block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    font-size: 20px;
    position: relative;
}
#fin .players li > div{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
}
#fin .players li.selected {
    color: #fff;
    background: #818181;
}
#fin .players li.selected > div{
    border-bottom: 1px solid #818181;
}
#fin .players li.selected .profil-picture div{
    border: 3px solid #fff;
}
#fin .players li:last-child > div{
    border-bottom: none;
}
#fin .players p.resultat {
    display: none;
}
#fin .players p.resultat {
    font-family: 'roboto_condensedbold';
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 50%;
    margin: -15px 0 0 0;

}
#fin .players p {
    display: inline-block;
}
#fin .admin .profil-picture div{
    border: 3px solid #d16b60;
}
#fin .profil-picture {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#fin .profil-picture > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    display: inline-block;
}
#fin .profil-picture div {
    border: 3px solid #818181;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#fin .profil-picture div img {
    width: 100%;
    display: inline-block;
}

#fin button img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 -20px;
}

#fin button.classement  {
    background: #818181;
}


/* Classement */

#classement .players {
    padding: 0;
    margin: 0 0 70px 0;
}
#classement .players li {
    display: block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    font-size: 20px;
    position: relative;
}
#classement .players li > div{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
}
#classement .players li.selected {
    color: #fff;
    background: #818181;
}
#classement .players li.selected > div{
    border-bottom: 1px solid #818181;
}
#classement .players li.selected .profil-picture div{
    border: 3px solid #fff;
}
#classement .players li:last-child > div{
    border-bottom: none;
}
#classement .players p.resultat {
    display: none;
}
#classement .players p.resultat {
    font-family: 'roboto_condensedbold';
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 50%;
    margin: -15px 0 0 0;

}
#classement .players p {
    display: inline-block;
}
#classement .admin .profil-picture div{
    border: 3px solid #d16b60;
}
#classement .profil-picture {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#classement .profil-picture > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    display: inline-block;
}
#classement .profil-picture div {
    border: 3px solid #818181;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#classement .profil-picture div img {
    width: 100%;
    display: inline-block;
}

#classement button img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 -20px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

.hide{
    display:none !important;
}
